<!doctype html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <title>MiPrimeraPaginaWeb</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
  
  <section class="box">
   
<!-- Barra de navegacion-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Mi Pagina Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<!--Imagen-->
<div class="mx-auto p-2" style="width: 200px;">
  <img src="assets/img/Foto1.jpg" width="200" alt="">
</div>
<!--Texto 1-->
<div class="p-0 mb-0 bg-danger text-white">Hola, mi nombre es Nahin, sean bienvenidos a mi pagina web</div>
<h3>Datos personales</h3>

<!-- Cuadro de Datos-->
<div class="card text-bg-info mb-3" Style="max-width: 22rem;">
  <div class="card-header">Biografia</div>
  <div class="card-body">
    <p class="card-text">Nombre: Nahin Olmedo</p>
    <p class="card-text">Fecha de nacimiento: 12 de abril del 2001</p>
    <p class="card-text">Lugar de nacimiento: Machala</p>
  </div>
</div>
<!--texto 2-->
<h3>Area Estudiantil</h3>
<!--Cuadro de Datos-->
<div class="card text-bg-info mb-3" Style="max-width: 22rem;">
  <div class="card-header">Estudios academicos</div>
  <div class="card-body">
    <p class="card-text">Escuela: Heroes De Paquisha</p>
    <p class="card-text">Colegio: Eloy Alfaro</p>
    <p class="card-text">Universidad: Universidad Tecnica de Machala</p>
  </div>
</div>
<!--Texto 3-->
<h3>Pasatiempos</h3>
<!--Cuadro de datos-->
<div class="card text-bg-info mb-3" Style="max-width: 22rem;">
  <div class="card-header">Cosas que hago en mi tiempo libre</div>
  <div class="card-body">
    <p class="card-text">-Escuchar musica con mis audifonos</p>
    <p class="card-text">-Jugar videojuegos de deportes</p>
    <p class="card-text">-Salir a andar en bicicleta</p>
  </div>
</div>
<h3>Algo mas sobre mi</h3>
<!--Cuadro de datos-->
<div class="card text-bg-info mb-3" Style="max-width: 22rem;">
  <div class="card-header">Cosas que me caracterizan</div>
  <div class="card-body">
  <p class="card-text">-Esforzarme en realizar mis objetivos</p>
  <p class="card-text">-Tener espiritu de liderato en grupo</p>
  <p class="card-text">-Ser optimista en situaciones negativas</p>
  </div>
</div>
<h3>Redes sociales</h3>
<a href="https://www.youtube.com/" class="btn btn-primary enabled" tabindex="-1" role="button" aria-disabled="true">Youtube</a>

<a href="https://www.facebook.com/" class="btn btn-primary enabled" tabindex="-1" role="button" aria-disabled="true">Facebook</a>

<a href="https://www.instagram.com/" class="btn btn-primary enabled" tabindex="-1" role="button" aria-disabled="true">Instagram</a>

<a href="https://www.tiktok.com/" class="btn btn-primary enabled" tabindex="-1" role="button" aria-disabled="true">TikTok</a>

<div class="p-0 mb-0 bg-danger text-white">Gracias por tu visita</div>
</section>
</body>
</html>
